@import url('https://fonts.googleapis.com/css2?family=Marmelad&family=Montserrat&display=swap');

.navbar {
    background-color: var(--preto);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar img:last-child {
    margin-right: 3rem;
}

.navbar img:first-child {
    margin-left: 3rem;
}

.intro {
    background-color: var(--preto);
    color: var(--branco);
    display: flex;
    justify-content: space-between;
}

.intro .textos {
    margin-top: 5rem;
    margin-left: 5rem;
}

.intro .textos h1 {
    font-weight: 400;
    font-size: 130px;
    font-family: 'Marmelad';
}

.intro .textos p {
    font-weight: 400;
    font-size: 30px;
}

.intro .imagem {
    height: 520px;
    margin-top: 1.3rem;
}

.intro .imagem .circulo img {
    width: 38rem;
}

.pre-blog {
    background-color: var(--branco);
    color: var(--preto);
    padding: 8rem 2rem;
    padding-top: 15rem;
}

.pre-blog h4 {
    font-size: 35px;
    font-weight: 400;
    margin-left: 0.7rem;
    margin-bottom: 2rem;
}

.pre-blog .carrossel {
    display: flex;
}

.pre-blog .carrossel .post {
    background-color: var(--preto);
    color: var(--branco);
    margin: 0 1rem;
    padding: 2.3rem;
    width: 30rem;
}

.pre-blog .carrossel .post img {
    width: 100%;
    height: 27rem;
}

.pre-blog .carrossel .post .titulo {
    margin-top: 1rem;
    font-size: 36px;
}

.pre-blog .carrossel .post .descricao {
    font-size: 24px;
}

.entrar {
    background-color: var(--preto);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5rem;
}

.entrar a {
    color: var(--branco);
    font-size: 40px;
}

.espacamento {
    background-color: var(--branco);
    padding: 2rem;
}

.footer {
    background-color: var(--preto);
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}

.footer .logos img:last-child {
    margin-left: 2rem;
}

.footer p {
    font-size: 20px;
}

.carrossel {
    overflow: hidden;
    margin: 2rem 0;
}
  
.carrossel-inner {
    display: flex;
}

@media (max-width: 1300px) {
    .intro .textos h1 {
        font-size: 80px;
    }
    
    .intro .imagem .circulo img {
        width: 30rem;
    }
}

@media (max-width: 930px) {
    .intro {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .intro .textos {
        margin: 2rem 0;
        max-width: 90%;
    }

    .intro .imagem {
        align-self: flex-end; 
        max-width: 90%;
        margin: 2rem 0;
    }

    .pre-blog h4 {
        font-size: 1.5rem;
    }

    .pre-blog .carrossel .post {
        margin: 0 0.5rem;
        padding: 1.8rem;
    }
    
    .pre-blog .carrossel .post img {
        height: 20rem;
    }
    
    .pre-blog .carrossel .post .titulo {
        font-size: 25px;
    }
    
    .pre-blog .carrossel .post .descricao {
        font-size: 16px;
    }

    .entrar {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .navbar img:last-child {
        margin-right: 1rem;
        width: 30px;
    }
    
    .navbar img:first-child {
        margin-left: 1rem;
        width: 160px;
    }

    .intro .textos h1 {
        font-size: 2.5rem;
    }

    .intro .textos p {
        font-size: 1rem;
    }

    .intro .imagem .circulo img {
        width: 19rem;
    }

    .pre-blog {
        padding: 8rem 2rem;
    }

    .pre-blog .carrossel .post {
        padding: 1.3rem;
    }
    
    .pre-blog .carrossel .post img {
        height: 15rem;
    }
    
    .pre-blog .carrossel .post .titulo {
        margin-top: 0.5rem;
        font-size: 20px;
    }
    
    .pre-blog .carrossel .post .descricao {
        font-size: 12px;
    }

    .entrar .link {
        font-size: 1.3rem;
    }

    .footer p {
        font-size: 0.9rem;
    }

    .footer .logos img:last-child {
        margin-left: 1rem;
        width: 30px;
    }

    .footer .logos img:first-child {
        width: 160px;
    }
}