* {
    font-family: 'Lora';
}

.cadastro-produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--branco);
    height: 100vh;
    justify-content: space-between;
}

.container-cima-produto {
    width: 100%;
}

.inputs-cadastro {
    width: 100%;
}

.form-cadastro {
    margin: 0 2rem;
    margin-bottom: 15rem;
}

.inputs-cadastro .input-nome,
.inputs-cadastro .input-img {
    display: flex;
    flex-direction: column;
}

.inputs-cadastro .input-nome input {
    border: 1px solid var(--preto);
    padding: 0.8rem 0;
    background-color: var(--branco);
    font-size: 25px;
}

.inputs-cadastro .input-nome label,
.inputs-cadastro .input-img label {
    font-size: 32px;
    margin-bottom: 1rem;
}

.inputs-cadastro .input-img {
    margin-top: 3rem;
}

.inputs-cadastro .input-img .btn-img-label {
    font-size: 23px;
    color: var(--branco);
    background-color: var(--rosa);
    cursor: pointer;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: none;
}

.inputs-cadastro .input-img .btn-img {
    display: none;
}

.container-baixo {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--preto);
    padding: 1rem 0;
}

.container-baixo .btn-ctr {
    text-decoration: none;
    color: var(--branco);
    font-size: 30px;
}

.container-baixo .btn-ctr:first-child {
    margin-left: 2rem;
}

.container-baixo .btn-ctr:last-child {
    margin-right: 2rem;
    color: var(--branco);
    background-color: var(--preto);
    cursor: pointer;
}

.error-message {
    color: red;
    font-size: 15px;
    margin-top: 1rem;
}

@media (max-width: 1000px) {
    .form-cadastro {
        margin-bottom: 15rem;
    }
}

@media (max-width: 768px) {
    .cadastro-produto {
        flex-direction: column;
    }

    .container-baixo {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-baixo .btn-ctr {
        margin: 0;
    }

    .container-baixo .btn-ctr:first-child {
        margin-left: 0rem;
    }
    
    .container-baixo .btn-ctr:last-child {
        margin-right: 0rem;
    }

    .form-cadastro {
        margin-bottom: 10rem;
    }
}

@media (max-width: 500px) {
    .form-cadastro {
        margin-bottom: 7rem;
    }
}