* {
    font-family: 'Lora';
}

.admin-produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-produtos {
    background-color: var(--vinho);
    color: var(--branco);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    border-bottom: solid 0.8rem var(--branco);
}

.titulo-produtos h1 {
    font-weight: 200;
    font-size: 35px;
}

.admin-produtos .fundo-tela {
    background-color: var(--vinho);
    background-image: url('imgs/textura_pelos.png');
    background-size: cover;
    background-blend-mode: multiply;
    opacity: 1; 
    height: 80.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-tabela {
    margin-top: 4rem;
    padding: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
    background-color: var(--branco);
    margin-bottom: 6rem;
    width: 75%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.container-tabela .extras-tabela {
    display: flex;
    justify-content: space-between;
}

.container-tabela .extras-tabela .busca {
    width: 85%;
    display: flex;
}

.container-tabela .extras-tabela .busca .buscar {
    padding: 0.5rem 0;
    width: 100%;
    border: solid 1px var(--vinho);
    font-size: 25px;
    color: var(--vinho);
    background-color: var(--branco);
    margin-left: 1rem;
}

.container-tabela .extras-tabela .btn-add-produto {
    background-color: var(--rosa);
    padding: 1rem;
    font-size: 25px;
    cursor: pointer;
}

.container-tabela .div-tabela {
    margin: 0.7rem 0;
    width: 100%;
}

.container-tabela .div-tabela .tabela {
    width: 100%;
}

.container-tabela .div-tabela .tabela .cabecalho {
    display: flex;
    width: 100%;
    background-color: var(--vinho);
}

.container-tabela .div-tabela .tabela thead tr {
    background-color: var(--vinho);
    color: var(--branco);
    margin: 0.8rem;
    margin-left: 2rem;
    font-size: 32px;
}

.container-tabela .div-tabela .tabela .corpo-tabela tr {
    width: 100%;
}

.container-tabela .div-tabela .tabela .corpo-tabela tr td {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 0.5px #BDA097;
    padding: 1rem 0;
}

.container-tabela .div-tabela .tabela .corpo-tabela tr td .nome-produto {
    color: var(--preto);
    margin-left: 2rem;
    font-size: 28px;
}

.container-tabela .div-tabela .tabela .corpo-tabela tr td .botoes {
    display: flex;
    align-items: center;
}

.container-tabela .div-tabela .tabela .corpo-tabela tr td .botoes button:last-child {
    margin-left: 2rem;
    margin-right: 1rem;
}

.container-tabela .div-tabela .tabela .corpo-tabela tr td .botoes button {
    font-size: 20px;
    color: var(--preto);
    display: flex;
    cursor: pointer;
    background-color: transparent;
}

.container-tabela .div-tabela .tabela .corpo-tabela tr td .botoes button .icones {
    width: 25px;
    margin-left: 1rem;
}

.popup-success {
    position: fixed;
    top: 7rem;
    background-color: var(--branco);
    color: var(--preto);
    font-size: 20px;
    padding: 2rem 6rem;
    padding-top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #63D43A;
}

.popup-success .aviso {
    top: 0;
    background-color: var(--vinho);
    width: 100%;
    padding: 0.7rem 6rem;
    font-size: 30px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.popup-success button {
    margin-top: 1rem;
    padding: 0.5rem 4rem;
    background-color: #78E58F;
    border: none;
    cursor: pointer;
    font-size: 25px;
}

@media (max-width: 1200px) {
    .container-tabela {
        width: 90%;
    }

    .container-tabela .extras-tabela .busca .buscar {
        font-size: 20px;
    }

    .container-tabela .extras-tabela .btn-add-produto {
        font-size: 20px;
    }

    .container-tabela .div-tabela .tabela thead tr {
        font-size: 28px;
    }

    .container-tabela .div-tabela .tabela .corpo-tabela tr td .nome-produto {
        font-size: 24px;
    }

    .container-tabela .div-tabela .tabela .corpo-tabela tr td .botoes button {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .container-tabela {
        width: 95%;
    }

    .container-tabela .extras-tabela {
        flex-direction: column;
        align-items: center;
    }

    .container-tabela .extras-tabela .busca {
        width: 100%;
        margin-bottom: 1rem;
    }

    .container-tabela .extras-tabela .btn-add-produto {
        width: 100%;
        text-align: center;
    }

    .container-tabela .div-tabela .tabela thead tr {
        font-size: 24px;
    }

    .container-tabela .div-tabela .tabela .corpo-tabela tr td .nome-produto {
        font-size: 20px;
    }

    .container-tabela .div-tabela .tabela .corpo-tabela tr td .botoes button {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .titulo-produtos h1 {
        font-size: 25px;
    }

    .container-tabela .extras-tabela .busca .buscar {
        font-size: 15px;
    }

    .container-tabela .extras-tabela .btn-add-produto {
        font-size: 15px;
    }

    .container-tabela .div-tabela .tabela thead tr {
        font-size: 18px;
    }

    .container-tabela .div-tabela .tabela .corpo-tabela tr td .nome-produto {
        font-size: 13px;
    }

    .container-tabela .div-tabela .tabela .corpo-tabela tr td .botoes button {
        font-size: 14px;
    }

    .container-tabela .div-tabela .tabela .corpo-tabela tr td .botoes button .icones {
        width: 16px;
        margin-left: 0.1rem;
    }
}