@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Marmelad&family=Montserrat&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

:root {
  --preto: #070607;
  --branco: #F7F4F3;
  --vinho: #4B1B21;
  --rosa: #DC98A0;
}